doctype html
head
    title Bill Payment Reminder
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    link(rel='stylesheet' href='./css/style.css')

h1 Edit user
ul.nav
      li.nav-item
            a.nav-link.active(href='/user/create') User Page
    
form(action='/user/edit' method='POST')
    .form-group
        label(for='name') Name
        input#name.form-control(type='text' name='name' value=info.Name)
    .form-group
        label(for='email') Email
        input#email.form-control(type='text' name='email' value=info.Email)
    .form-group
        label(for='phone') Phone
        input#phone.form-control(type='text' name='phone' value=info.Phone)
    .form-group
        label(for='slackId') Slack ID
        input#slackId.form-control(type='text' name='slackId' value=info.SlackId) 
    .form-group
        input#id(type='hidden' name='id' value=info.Id)  
    .form-group
        button.btn.btn-primary(type='submit') Update
    