doctype html
head
    title Bill Payment Reminder
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    link(rel='stylesheet' href='./css/style.css')

h1 Managment Page
ul.nav
      li.nav-item
            a.nav-link.active(href='/') Assign Page
      li.nav-item
            a.nav-link.active(href='/user/create') User Page
      li.nav-item
            a.nav-link.active(href='log') Log activity
table.table
  thead
    tr
      th(scope='col') #
      th(scope='col') User
      th(scope='col') Description
      th(scope='col') Amount
      th(scope='col') Phone reminder
      th(scope='col') Email reminder
      th(scope='col') Slack reminder
      th(scope='col') Noted date
      th(scope='col') isDone 
  tbody
      each reminder in reminders  
            tr
                  th(scope='row')=reminder.Index+1
                  td=reminder.UserName
                  td=reminder.Description
                  td=reminder.Amount
                  td=reminder.PhoneReminder?'Yes':'No'
                  td=reminder.EmailReminder?'Yes':'No'
                  td=reminder.SlackReminder?'Yes':'No'
                  td=reminder.NotedDate
                  //- td=reminder.IsDone
                  td
                        if reminder.IsDone
                              button.btn.btn-light(type='button' disabled) Completed
                        else
                              button.btn.btn-success(type='button' onclick="window.location.href = '/management/" + reminder.Id + "';") Mark as done
      





